<div class="gray_bg_faq ">
  <div class="mx-auto max-w-7xl py-16 px-6 sm:py-16 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-3xl">
      <h2 class="text-left text-3xl font-bold tracking-tight dark_blue_text sm:text-4xl">Frequently Asked Questions</h2>
      <dl class="mt-6 space-y-6 divide-y divide-gray-200">
        <div class="pt-6">
          <dt class="text-lg">
          
            <button type="button" class="flex w-full items-start justify-between text-left">
              <span class="text-xl font-semibold light_blue_text">Dedicated customer support and help portal.</span>
              <span class="ml-6 flex h-7 items-center">
               
                <svg class="rotate-0 h-6 w-6 transform" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke="#6160F6" stroke-width="2" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                </svg>

              </span>
            </button>
          </dt>
          <dd class="mt-2 pr-12" id="faq-0">
            <p class="text-base font-medium text-black-900">With our dedicated customer support team, you can rest easy knowing that we're doing everything we can to save to save you time, money, and stress.</p>
          </dd>
        </div>

      </dl>
      <dl class="mt-6 space-y-6 divide-y divide-gray-200">
        <div class="pt-6">
          <dt class="text-lg">

            <button type="button" class="flex w-full items-start justify-between text-left">
              <span class="text-xl font-semibold light_blue_text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed</span>
              <span class="ml-6 flex h-7 items-center">
              
                <svg class="-rotate-180 h-6 w-6 transform" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke="#6160F6" stroke-width="2" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                </svg>

              </span>
            </button>
          </dt>
        </div>

      </dl>
      <dl class="mt-6 space-y-6 divide-y divide-gray-200">
        <div class="pt-6">
          <dt class="text-lg">

            <button type="button" class="flex w-full items-start justify-between text-left">
              <span class="text-xl font-semibold light_blue_text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed</span>
              <span class="ml-6 flex h-7 items-center">
                
                <svg class="-rotate-180 h-6 w-6 transform" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke="#6160F6" stroke-width="2" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                </svg>
              </span>
            </button>
          </dt>
        </div>

      </dl>
      <dl class="mt-6 space-y-6 divide-y divide-gray-200">
        <div class="pt-6">
          <dt class="text-lg">

            <button type="button" class="flex w-full items-start justify-between text-left">
              <span class="text-xl font-semibold light_blue_text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed</span>
              <span class="ml-6 flex h-7 items-center">

                <svg class="-rotate-180 h-6 w-6 transform" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke="#6160F6" stroke-width="2" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                </svg>
              </span>
            </button>
          </dt>
        </div>

      </dl>
    </div>
  </div>
</div>