<div class="header-top w-full flex justify-center">
  <p class="header-top-text text-base">
    <div class="header-icon mirrored mr-4">
      <%= image_tag("header-bar2.svg", class: "svg-icon") %>
    </div>
    Save up to $500 per year on millions of book titles!
    <div class="header-icon ml-4">
      <%= image_tag("header-bar2.svg", class: "svg-icon") %>
    </div>
  </p>
</div>
