@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
  }
}

.header-top {
  font-family: "Roboto";
  font-weight: 500;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(header-bar.png);
  color: #fff;
  padding: 10px 0;
}

.header-icon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.mirrored {
  transform: scaleX(-1);
}

.nav-font {
  color: #161960;
}

.header-font,
.header-font3 {
  color: #151962;
}

.header-font2 {
  color: #6d6bcc;
}

.svg {
  transform: rotate(-90deg);
}

.svg2 {
  transform: rotate(-90deg);
}

.cta_bg {
  background-color: #6160f6;
}

.header-top-text {
  text-align: center;
}

.hero-main-container {
  background-size: cover;
  background-position: center;
  background-image: url(banner-bg.png);
}

.dark_blue_text {
  color: #151c55;
}

.light_blue_text {
  color: #6160f6;
}

.light_blue_text2 {
  color: #5fd2f9;
}

.cta_bg2 {
  background-color: #151c55;
  color: #5fd2fa;
}

#inquire {
  font-family: cursive;
  color: #5fd2f9;
  transform: rotate(-10deg);
}

.hero-illustration,
.group-pic {
  max-width: 80%;
  height: auto;
}

.image_border {
  border: 16px solid rgb(220, 226, 232, 0.75);
  border-radius: 16px;
  display: inline-block;
}

.books-main-container {
  background-position: bottom;
  background-size: cover;
  background-image: url(dark_blue_bg.jpg);
}

/* .dark_blue_bg {
  background-color: #061A36;
  width: 100%;
  clip-path: polygon(0 20%, 100% 0%, 100% 80%, 0% 100%);
  z-index: -1;
  position: absolute;
} */

.books-arrow {
  transform: rotate(180deg);
}

.book_text {
  position: relative;
}

.shop_icons {
  width: 13%;
  height: auto;
}

#input-email {
  background-image: url(cta_arrow.svg);
  background-position: right;
  padding-left: 20px;
  background-size: 20px;
  background-repeat: no-repeat;
  border-radius: 8px;
}

.light_blue_box {
  background-color: #4299f7;
}

.overlay_box {
  position: absolute;
  background-color: #d9ebfd;
  z-index: -1;
  margin: auto;
}

.gray_bg_faq {
  background-color: #f2f5f8;
}

.outline_search {
  border-color: #4299f7;
}

.footer_sub_text {
  color: #505e72;
  font-weight: 600;
}

.footer_sub_text:hover {
  color: #151c55;
}

.message_icon_bg {
  background-color: #5fd2fa;
}

.socials_icon {
  background-color: #F2F2FF;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 56px;
  height: 56px;
}